.item {
    margin: 5px 20px;
    padding: 5px;
    cursor: pointer;
    background: white;
    border-radius: 20px;
}

.item:hover {
    background: gold;
}

.element {
    display: block;
}

.text {
    font-size: 12px;
}
