.element {
    display: block;
}

.text {
    color: darkslategrey;
    font-size: 12px;
}

.title {
    color: black;
    font-size: 18px;
}

.data {
    color: darkred;
    text-align: right;
}

.time {
    color: darkcyan;
    text-align: left;
    margin-left: 5px;
}
