.list {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.row {
    width: 29%;
}

.line0 {
    background: red;
}

.line1 {
    background: yellow;
}

.line2 {
    background: greenyellow;
}

.line0::before {
    content: 'Очередь';
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}

.line1::before {
    content: 'В работе';
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}
.line2::before {
    content: 'Сделано';
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}

.item:hover {
    cursor: pointer;
    background: gold;
}
