.list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}

.row {
    width: 29%;
}

.line0 {
    background: red;
}

.line1 {
    background: yellow;
}

.line2 {
    background: greenyellow;
}